// -----------INDEX PAGE -------
.cover {
  //  background-image: linear-gradient(45deg, #00aeef 0%, #096fb9 100%);
  position: relative;
}

.wrapper {
  max-height: 100vh;
  max-width: 100vw;
  margin-top: 0;
  position: relative;
}

.main-section {
  top: 150px;
  width: 100%;
  padding: 150px 0 0;
}

.hero-section {
  h2 {
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
  }

  perspective: 1000px;
  color: white;
  width: 420px;
  position: relative;

  &-content {
    position: absolute;
    bottom: 20px;
    width: 360px;
    left: 6%;
    z-index: 1;

    &-intro {
      font-size: 17px;
    }
  }
}

.image {
  width: auto;
  max-width: 100%;
}

.hero-welcome-text > h1 {
  color: grey;
  font-size: 18px;
  margin-top: 20px;
}

.hero-welcome-bio {
  margin-top: 20px;
  margin-bottom: 2rem;
  color: black;
  > h1 {
    font-size: 1.25rem;
  }

  .schoolImage {
    float: right;
    width: 50%;
  }

  .fa-stack {
    font-size: 28px;
  }

  .list-inline-item {
    > a {
      color: #373737;
    }
  }
}

.hero-welcome-wrapper {
  justify-content: flex-end;
}

@media (max-width: 991px) {
  .hero-section {
    // width: 341px;
    // height: 445px;
    width: auto;
    height: 12.25em;

    &-content {
      width: 341px;

      h2 {
        font-size: 1.25rem;
      }
    }
  }

  .hero-welcome-text > h1 {
    margin-top: 0px;
  }
}

@media (max-width: 500px) {
  .hero-section,
  .hero-section-content .hero-section-content-intro {
    max-height: 200px;

    h2 {
      font-size: 1.75rem;
      background-color: #00000063;
      width: 75%;
      padding: 0.25rem;
    }
    h3 {
      font-size: 1.2rem;
    }
  }

  .hero-welcome-wrapper {
    margin-top: 3.5em;
  }
}

@media (max-width: 421px) {
  .hero-section,
  .hero-section-content .hero-section-content-intro {
    max-height: 200px;

    h2 {
      font-size: 1.5rem;
      background-color: #00000063;
      width: 75%;
      padding: 0.25rem;
    }
    h3 {
      font-size: 1.2rem;
    }
  }
}

@media (max-width: 361px) {
  .hero-section,
  .hero-section-content .hero-section-content-intro {
    max-height: 200px;

    h2 {
      font-size: 1.3rem;
      background-color: #00000063;
      width: 75%;
      padding: 0.25rem;
    }
    h3 {
      font-size: 1.2rem;
    }
  }
}

@media (max-width: 321px) {
  .hero-section,
  .hero-section-content .hero-section-content-intro {
    max-height: 200px;

    h2 {
      font-size: 1rem;
      width: 60%;
      padding: 0;
    }
    h3 {
      font-size: 0.95rem;
    }
  }
}

.background-image {
  position: absolute;
}

.shadow-custom {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  box-shadow: -17px 13px 41px rgba(13, 78, 158, 0.6);
  border: 2px solid #3bace5;

  .shadow-inner {
    width: 100%;
    height: 100%;
    box-shadow: -17px 13px 13px rgba(0, 0, 0, 0.09);
  }
}

.shadow-custom-2 {
  border: 2px solid #f37d49;
  box-shadow: -17px 13px 41px rgba(13, 78, 158, 0.3);
}

.cover-0 {
}

.cover-1 {
  //   background-image: linear-gradient(
  //     45deg,
  //     rgb(254, 202, 83),
  //     rgb(253, 157, 97)
  //   );
}

.flipper {
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}

.flipper.isFlipping {
  transform: rotateY(-180deg);
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(0deg);
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
}

.front {
  transform: rotateY(0deg);
  z-index: 9999;
}

.back {
  transform: rotateY(180deg);
  z-index: 9999;
}

.service-link {
  position: relative;
  bottom: -1em;
  color: grey;
  font-style: italic;
  font-size: 14px;
  margin-left: 1rem;

  > a {
    color: black;
    font-weight: 400;
  }
}
