@import "./shared/colors";
@import "./shared/mixins";

// PAGES
@import "./index";
@import "./portfolios";
@import "./blogs";
@import "./about";
@import "./cv";

// Components
@import "./header";
@import "./slate-editor";

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Montserrat", "Helvetica";
  background-image: url(/static/images/beige-tiles-opacity40.png);
}

.container {
  max-width: 100%;
}

.layout-container {
  margin: 0 auto;
  max-width: 90%;
}

.switchLanguge-container {
  position: relative;
  margin: 1em;
  text-align: center;
}

@media (max-width: 991px) {
  body {
    padding: 0.5rem;
  }
}

@media (max-width: 769px) {
  .layout-container {
    max-width: 95%;
  }
  .main-section {
    padding: 60px 0 0;
  }
  .base-page {
    padding: 20px 0 100px 0;
  }
}

@media (max-width: 441px) {
  html,
  body {
    min-width: 430px;
  }
}

@media (max-width: 376px) {
  html,
  body {
    min-width: 360px;
  }
}

@media (max-width: 321px) {
  html,
  body {
    min-width: 320px;
  }
}

.self-typed {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
  color: grey;
}

.absolute {
  position: absolute;
}

.clickable {
  cursor: pointer;
}

.error {
  color: red;
  font-weight: 600;
}

// --------- BASE PAGE -------------

.base-page {
  padding: 100px 0 100px 0;
  color: black;
  min-height: 100vh;

  .page-header {
    .page-header-title {
      font-weight: 700;
      color: black;
      display: inline-block;
      margin-bottom: 20px;
    }
  }
}
@media (max-width: 769px) {
  .base-page {
    padding: 20px 0 0 0;
  }
}

// --------- DEFAULT HEADER -------------
.port-navbar.port-nav-base.port-nav-default {
  // padding: 30px;
  // background-color: $secondary !important;
}

// ------------IMAGES ------------------

.image-holder > img {
  max-width: 100%;
}
